.header-container {
    background-color: #FF6666;
    padding: 12px 21px;
  }
  
  .header-container h1 {
    font-size: 16pt;
    margin: 0;
    color: white;
  }
  
  .custom-select {
    background-color: white;
    border-color: #FF6666;
  }
  